
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>管理者トップページ</title>
</head>

<body>
	<center>
		<p>
			<img style=" height: 80px" src="123.PNG"></a>
		</p>
		<h2 style="text-align:center;background:rgb(128, 128, 128);
	border:1px solid rgb(192, 192, 192);font-family: Garamond, serif;color:white;width: 420px">管理者トップページ</h2>
		<p></p>
		<p>
		<form action="/searchTopAdmin">
			<input
			style="font-family: Garamond, serif;color:rgb(255, 255, 255); background:rgb(192, 192, 192);width: 200px;height: 70px ;font-size:20px;"
			type="submit" value="書籍一覧を表示">
		</form>
		<p>
		<form action="/memberSearchTopAdmin">
			<input
			style="font-family: Garamond, serif;color:rgb(255, 255, 255); background:rgb(192, 192, 192);width: 200px;height: 70px ;font-size:20px;"
		     type="submit" value="会員一覧を表示">
		</form>
		</p>
		</p>
	</center>
</body>

</html>