
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>アカウント情報変更完了</title>
</head>
<body>

	<a href="topAdmin"><img style=" width: 250px;height: 40px" src="123.PNG"></a>
	
	<!--ログアウト-->
	<form style="float:right" action="adminLoginTop" method="post">
		<input
			style="font-family: Garamond, serif;color:rgb(255, 255, 255); background:rgb(192, 192, 192);width: 80px;height: 30px"
			type="submit" value="ログアウト">
	</form>

	<h2 style="text-align:center;background:rgb(128, 128, 128);
	border:1px solid rgb(0, 0, 0);font-family: Garamond, serif;color:white">アカウント情報変更完了</h2>
	<center>
		<form action="/memberSearchTopAdmin" method="post">

			<p
			style="font-family: Garamond, serif;"
			>アカウント情報を変更しました</p><br>
			<input
				style="font-family: Garamond, serif;color:rgb(255, 255, 255); background:rgb(128, 128, 128);width: 200px;height: 30px"
				type="submit" value="マイページへ戻る">
		</form>
	</center>
</body>
</html>