

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>書籍籍情報編集完了画面</title>
</head>
<body>
<!--ロゴ（書籍検索ページに推移）-->
	<a href="topAdmin"><img  style=" width: 250px;height: 40px" src="123.PNG"></a>
<!--ログアウト-->
	<form style="float:right" action="adminLoginTop" method="get">
		<input
			style="font-family: Garamond, serif;color:rgb(255, 255, 255); background:rgb(192, 192, 192);width: 80px;height: 30px"
			type="submit" value="ログアウト">
	</form>
	<h2 style="text-align:center;background:rgb(128, 128, 128);
	border:1px solid rgb(0, 0, 0);font-family: Garamond, serif;color:white">削除完了</h2>
	<center>
<form action="/searchTopAdmin" method="post">
	<p
			style="font-family: Garamond, serif;"
			>出品書籍情報の削除が完了しました</p><br>
	<input
		style="font-family: Garamond, serif;color:rgb(255, 255, 255); background:rgb(128, 128, 128);width: 200px;height: 30px"
		type="submit" value="もどる">
</form>
	</center>
</body>
</html>