<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>退会確認画面</title>
</head>

<body>
	<!--ロゴ（書籍検索ページに推移）-->
	<a href="topAdmin"><img style=" width: 250px;height: 40px" src="123.PNG"></a>
	<!--ログアウト-->
	<form style="float:right" action="bookdeleteconfirmationAdmin" method="get">
		<input 
		style="font-family: Garamond, serif;color:rgb(255, 255, 255); background:rgb(192, 192, 192);width: 80px;height: 30px"
		type="submit" value="ログアウト">
	</form>

	<center>
		<h2 style="text-align:center;background:rgb(128, 128, 128);
	border:1px solid rgb(0, 0, 0);font-family: Garamond, serif;color:white">最終確認</h2>
		<p style="font-family: Garamond, serif;">以下のアカウントを削除してもよろしいでしょうか?</p>

		<form action="/memberdeleteAdmin" method="post">
			<table border="1">
				<tr th:each="m:${memberList}">
					<th>会員ID</th>
					<td><input type="text" name="memberId" readonly th:value="${m.memberId}"></td>
				</tr>
				<tr th:each="m:${memberList}">
					<th>名前</th>
					<td><input type="text" name="memberName" readonly th:value="${m.memberName}"></td>
				</tr>
				<tr th:each="m:${memberList}">
					<th>住所</th>
					<td><input type="text" name="memberAddress" readonly th:value="${m.address}"></td>
				</tr>
				<tr th:each="m:${memberList}">
					<th>電話番号</th>
					<td><input type="text" name="memberPhone" readonly th:value="${m.phoneNumber}">
				</tr>
				<tr th:each="m:${memberList}">
					<th>メールアドレス</th>
					<td><input type="text" name="memberEmail" readonly th:value="${m.email}"></td>
				</tr>
				<tr th:each="m:${memberList}">
					<th>誕生日</th>
					<td><input type="text" name="memberBirthday" readonly th:value="${m.birthday}"></td>
				</tr>
				<tr th:each="m:${memberList}">
					<th>入会日</th>
					<td><input type="text" name="memberSignupDate" readonly th:value="${m.signupDate}"></td>
				</tr>
				<tr th:each="m:${memberList}">
					<th>学籍番号</th>
					<td><input type="text" name="memberStudentId" readonly th:value="${m.studentId}"></td>
				</tr>
			</table>
			<p>
				<input
					style="font-family: Garamond, serif;color:rgb(255, 255, 255); background:rgb(128, 128, 128);width: 150px;height: 30px"
					type="submit" value="アカウントを削除する">
			</p>
		</form>
		<form action="/topAdmin" method="post">
			<input
				style="font-family: Garamond, serif;color:rgb(0, 0, 0); background:rgb(255, 255, 255);width: 150px;height: 30px"
				type="submit" value="もどる">
		</form>
	</center>
</body>

</html>