<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Contact Me</title>
</head>

<body>
<!--ロゴ（書籍検索ページに推移）-->
	<a href="searchTop"><img style=" width: 250px;height: 40px" src="123.PNG"></a>
	<center>
	<h1
	style="text-align:center;background:rgb(128, 128, 128);
	border:1px solid rgb(0, 0, 0);font-family: Garamond, serif;color:white"
	>Contact Us</h1>
	
		<table border="0" cellspacing="" cellpadding="">
			<tr>
				<td><label for="name">名前:</label></td>
				<td><input type="text" name="name" placeholder="Name" /></td>
			</tr>
			<tr>
				<td><label for="gender">性別:</label></td>
				<td><select size="1" name="gender">
						<option value="1">男性</option>
						<option value="2">女性</option>
			</tr>
			<tr>
				<td><label for="e-mail">E-mail:</label></td>
				<td><input type="text" name="e-mail" placeholder="E-mail" /></td>
			</tr>
			<tr>
						<td><label for="comment">連絡事項:</label></td>
						<td><textarea name="comment" rows="5" cols="22" ></textarea></td>
					</tr>
			</table>
			<p>
			<a href="/searchTop">
			<input
				style="font-family: Garamond, serif;color:rgb(255, 255, 255); background:rgb(128, 128, 128);width: 80px;height: 30px"
				type="submit" value="送信">
			</a>	
			</p>	
				</center>

</body>

</html>
