
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>教科書出品</title>
</head>

<body style="background:rgb(255, 255, 255)">
	<!--ロゴ（書籍検索ページに推移）-->
	<a href="searchTop"><img  style=" width: 250px;height: 40px" src="123.PNG"></a>
	<!--マイページ-->

	<form style="float:right" action="/mypage" method="post">
		<input type="hidden" name="memberEmail" th:value="${memberEmail}">
		<input type="hidden" name="memberPassward" th:value="${memberPassward}">
		<input
			style="font-family: Garamond, serif;color:rgb(255, 255, 255); background:rgb(192, 192, 192);width: 80px;height: 30px"
			type="submit" value="マイページ">
	</form>
	<!--ログアウト-->
	<form style="float:right" action="/" method="post">
		<input
			style="font-family: Garamond, serif;color:rgb(255, 255, 255); background:rgb(192, 192, 192);width: 80px;height: 30px;margin-right:4px"
			type="submit" value="ログアウト">
	</form>

	<center>
	<!--教科書出品-->
	<h2 style="text-align:center;background:rgb(128, 128, 128);
	border:1px solid rgb(0, 0, 0);font-family: Garamond, serif;color:white">出品する</h2>
	
	
			<form action="/insertConfirm" method="get">

				<table border="0" cellspacing="" cellpadding="">
					<tr>
						<td><label for="title">タイトル:</label></td>
						<td><input type="text" name="title" placeholder="タイトル" /></td>
					</tr>
					<tr><td></td><td th:text = "${titlemessage}" style = "color:red;"></td></tr>
					<tr>
						<td><label for="category">カテゴリ:</label></td>
						<td><select size="1" name="category">
								<option value="0">カテゴリー</option>
								<option value="総記">1.総記</option>
								<option value="哲学">2.哲学</option>
								<option value="歴史">3.歴史</option>
								<option value="社会科学">4.社会科学</option>
								<option value="自然科学">5.自然科学</option>
								<option value="技術">6.技術</option>
								<option value="産業">7.産業</option>
								<option value="芸術">8.芸術</option>
								<option value="言語">9.言語</option>
								<option value="文学">10.文学</option>
							</select><br></td>
					</tr>
					<tr><td></td><td th:text = "${categorymessage}" style = "color:red;"></td></tr>
					<tr>
						<td><label for="author">著者:</label></td>
						<td><input type="text" name="author" placeholder="著者" /></td>
					</tr>
					<tr><td></td><td th:text = "${authormessage}" style = "color:red;"></td></tr>
					<tr>
						<td><label for="looklike">状態:</label></td>
						<td><select size="1" name="looklike">
								<option value="0">-</option>
								<option value="新品">新品</option>
								<option value="中古品">中古品</option>
							</select>
					</tr>
					<tr><td></td><td th:text = "${looklikemessage}" style = "color:red;"></td></tr>
					<tr>
						<td><label>販売価格:￥</td>
						<td><input type = "text" name = "sellingprice"></input></label></td>
					</tr>
					<tr><td></td><td th:text = "${sellingpricemessage}" style = "color:red;"></td></tr>
					<tr>
						<td><label for="bookcode">ISBN番号:</label></td>
						<td><input type="text" name="bookcode" placeholder="ISBN番号" /></td>
					</tr>
					<tr><td></td><td th:text = "${bookcodemessage}" style = "color:red;"></td></tr>
					<tr>
						<td><label for="comment">コメント:</label></td>
						<td><textarea name="comment" rows="5" cols="22" placeholder="コメント"></textarea></td>
					</tr>
					<tr><td></td><td th:text = "${commentmessage}" style = "color:red;"></td></tr>
					<!--
					<tr>
						<td><label for="img">画像:</label></td>
						<td><input type="text" name="img" placeholder="画像" /></td>
					</tr>
					-->
					</table>
	<!--
		画像を添付して下さい<br>
		<input type="file" name="img" accept=".png, .jpg, .jpeg, .pdf, .doc"><br>
		-->
		
	<input 
	style="font-family: Garamond, serif;color:rgb(255, 255, 255); background:rgb(128, 128, 128);width: 80px;height: 30px"
	type="submit" value="確認する">
	</form>
	<p>
	<a href = "/searchTop">トップページへ戻る</a>
	</p>
	</center>
</body>

</html>