
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>退会完了</title>
</head>

<body>
	<a href="searchTop"><img style=" width: 250px;height: 40px" src="123.PNG"></a>
	<h2 style="text-align:center;background:rgb(128, 128, 128);
	border:1px solid rgb(0, 0, 0);font-family: Garamond, serif;color:white">退会完了</h2>
	<center>
		<form action="/" method="post">

			<p
			style="font-family: Garamond, serif;"
			>退会が完了しました。</p><br>
			
			<input
				style="font-family: Garamond, serif;color:rgb(255, 255, 255); background:rgb(128, 128, 128);width: 200px;height: 30px"
				type="submit" value="会員登録画面はこちら">
		</form>
	</center>
</body>

</html>